body {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
    
}

ul {
    display: flex;
    list-style-type: none;
    gap:12px;
}

a {
    text-decoration: none;
    color: white;
}

#subtext {
    color: #e5e7eb;
    font-size: 18px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

h2 {
    color: #f9faf8;
    font-size: 24px;
}

#random {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
}

.content {
    width:300px
}

.container {
   display: flex;
   flex: 1;
   flex-direction: column;
   padding: 0 240px;   
   background-color: #1f2937;
   padding-bottom: 100px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.body {
    display: flex;
    gap:128px;
    flex: 1;
}

.img {
    display: flex;
    align-items: center;
    margin: 32px;
    color:white;
    background-color: gray;
    padding: 32px 100px
}

.one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    flex: 1;
}

.random-info {
    display: flex;
    flex: 1;
}

.cards {
    padding: 32px;
    width: 300px;
    text-align: center;
}

.info-img {
    width: 240px;
    height: auto;
  }